.App {
  width: 100vw;
  height: 100vh;
  background-color: #2f3340;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

.title {
  margin-top: 84px;
  font-size: 50px;
  font-style: italic;
}

.subtitle {
  font-size: 20px;
  margin-top: 30px;
}
